html {
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1C1D1E;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #08090A;
}

body {
    background-color: #F5F5F5;
}

/*     Estilos do container    */

div.container {
    width: 1366px;
    margin: 0 auto;
}

/*      Estilos do cabeçalho   */

header.containter-header h1 {
    float: left;
}

/*      Estilos do menu        */

menu {
    list-style-type: none;
}

menu li {
    display: inline;
}

menu li a {
    text-decoration: none;
    color: #08090A;
}

menu li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/*     Estilos da sidebar       */

main.content aside {
    width: 230px;
    height: 100%;
    float: left;
}

main.content aside .searchbar {
    padding: 5px;
}

main.content aside span {
    padding: 5px;
    font-size: 0.8rem;
}

/*     Estilos do conteúdo      */

main.content article {
    width: 1125px;
    height: auto;
    float: right;
}

/*      Estilos do rodapé       */

footer.container-footer {
    clear: both;
    padding-top: 15px;
    text-align: center;
}
